* {
	margin: 0;
	padding: 0;
	font-family: microsoft yahei;
}
body {
	display: none;
}
#main {
	background-image: url(../img/bj.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #4b6efe;
	width: 100%;
	height: 1280px;
	margin: 0 auto;
}
header {
	padding: 25px 0 28px 52px;
}
header img {
	width: 146px;
	height: 36px;
}
#video_area {
	width: 628px;
	height: 365px;
	border: 1px solid rgba(255,255,255,0.2);
	margin: 0 auto;
	text-align: center;
}
#video {
	display: block;
	position: relative;
	top: 13px;
	width: 600px;
	height: 338px;
	z-index: 0;
	left: 14px;
}
#content img {
	margin-top: 70px;
	margin-left: 132px;
	width: 466px;
	height: 60px;
}
#content p{
	color: white;
	font-size: 26px;
}
#first_p {
	margin: 25px 0 0 50px;
}
#second_p {
   margin: 8px 0 0 158px;
}
#my_bt {
	margin: 62px 0 95px 124px;
	width: 431px;
	height: 110px;
	background-image: url(../img/button.png);
	background-size: 100% 100%;
}
#my_bt:active {
	background-image: url(../img/button-press.png);
}
#gif {
	position: relative;
	left: 5px;
	width: 105px;
	height: 85px;
}
#game {
	overflow: auto;
	display: none;
	width: 100%;
	height: 1280px;
	position: absolute;
	top: 0;
	color: white;
	background-image: url(../img/bj2.jpg);
	background-size: 100% 100%;
	z-index: 1;
	/*background-repeat: no-repeat;*/
}
#game>img {
	position: absolute;
	top: 195px;
	left: 570px;
	width: 120px;
	height: 110px;
}
#game span {
    position: absolute;
    font-size: 57px;
    top: 220px;
    left: 601px;
    color: #676ffe;
    font-weight: bold;
    font-family: Impact;
}
.words {
	color: #ffffff;
	width: 100%;
	height: 278px;
	font-size: 27px;
	line-height: 42px;
}
.words p:first-child {
	margin: 36px 40px 0 40px;
}
.words p:last-child {
    margin: 0 128px 0 40px;
}
#input {
	width: 100%;
	height: 85px;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: rgba(255,255,255,0.25);
}
#game input::-webkit-input-placeholder { color: #dcff61; }
#game input:-moz-placeholder { color:  #dcff61;}
#game input:-ms-input-placeholder { color: #dcff61;}
#game input:-input-placeholder { color: #dcff61;}
#game input {
	height: 85px;
	width: 76.45%;
	padding-left: 5.55%;
	background-color: rgba(255,255,255,0.06);
	color: #b0fffa;
	font-size: 28px;
	border: none;
}
#game_icon {
	float: right;
	width: 18%;
	height: 85px;
	background-color: rgba(255,255,255,0.06);
	text-align: center;
	line-height: 85px;
	z-index: 0;
}
#game_icon img {
	width: 38px;
	height: 22px;
}
#result {
	position: absolute;
	top: 0;
	display: none;
	background-image: url(../img/bj3.jpg);
	background-size: 100%;
	width: 100%;
	height: 410px;
}
#result img {
	position: absolute;
	top: 50px;
	left: 636px;
	width: 38px;
	height: 22px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
#result p {
	color: #b0fffa;
	width: 572px;
	font-size: 28px;
	line-height: 42px;
	margin: 36px 108px 0 40px;
	word-break: break-all;
}
#share {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 1280px;
	background-color: #0f1632;
	z-index: 2;
}
#share_area {
	position: absolute;
	top: 40px;
	margin-left: 86px;

}

#result_bj {
	width: 548px;
}
#shut {
	position: relative;
	top: 93px;
	left: 545px;
	width: 58px;
	height: 58px;
}
#share1 {
	font-size: 24px;
	color: #fefeff;
	margin-left: 214px;
	margin-bottom: 29px;
	height: 50px;
}
#share1 img {
	width: 38px;
	height: 38px;
}
#result_text {
	width: 100%;
	position: absolute;
	top: 578px;
	font-size: 36px;
	color: #d8dbfc;
}
#result_text p:first-child {
    margin-left: 40px;
}
#result_text p:last-child {
    margin-left: 91px;
}
#in_numbers {
    color: #50f2fd;
    font-size: 40px;
}
#share2 {
	margin-top: 24px;
}
#share2 img {
	width: 103px;
	height: 103px;
}
#share2 p {
	font-size: 23.4px;
	padding-top: 10px;
	padding-left: 10px;
}
#pyq_pic {
	float: left;
	margin-left: 23px;
	color: #65eb70;
}
#qq_pic {
	float: left;
	margin-left: 84px;
	color: #35affa;
}
#weibo_pic {
	float: left;
	margin-left: 84px;
	color: #ffa926;
}